@font-face {
    font-family: open sans; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i'); /* Путь к файлу со шрифтом */
   } 

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin justify-content-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@mixin align-items-center{
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;

}

$black: #1F2229;
$widthConteiner: 1000px;
$white: #fff;
$dark: #1F2229;
$gray: #676666;

*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

h1, h2, h3, h4, p {font-family: 'open sans', Arial;}
li{list-style-type: none;}
a{text-decoration: none;}
img{width: 100%;}

body{
    background-color: $black;
    
}

//рамка при неверно заполненной форме 
.errorValid{border: 1px solid red !important;}

.menu{
    background: #191C24;
    &__item{
        color: $white;
        font-weight: bold;
        font-size: 15px;
        
        &:hover{
            background: $dark;
            cursor: pointer;
        }
        &_active{
            background: #2A2D37;
        }
    }
}

.conteiner {
    max-width: $widthConteiner;
    margin: 0 auto;
    @include display-flex;
//......левая колонка с ссылками...................
    .boxLeft {
        width: 26%;
        .menu{
            &__item{
                padding: 5% 5% 5% 10%;
            }
        }
    }

    .boxRight{
        width: 74%;
        background-color: $white;
        padding: 20px 25px;
        min-width: 316px;
        
        h3{
            font-size: 13px;
            margin-bottom: 6px;
        }
        
        .flex{
            @include display-flex;
            justify-content: space-between;
            
        }
        
        .rightInfo {
            float: right;
            position: absolute;
            right: 5px;
            top: 30%;
                
            span{
                color: $dark;
            }
        }
        
        span{
            font-weight: 600;
            line-height: 21px;
            font-size: 14px;
            color: $gray;
            display: block; 
        }
        .cartBlock{
            position: relative;
            width: 65%;
        }
        .cartFace, .cartBack {
            border-radius: 10px;
            border: 1px solid;
            overflow: hidden;
            padding: 20px 10px;
        }
        .cartFace {
            z-index: 1;
            position: relative;
            background-color: white;
        }
        .cartBack {
            position: absolute;
            height: 83%;
            width: 91%;
            top: 7%;
            right: -40%;


            &:after{
                content: '';
                position: absolute;
                background-color: #e4e9ee;
                width:100%;
                height: 15%;
                margin-top: 25px;
            }
        }

        label{
            font-weight: bold;
            font-size: 13px;
            margin-top: 15px;
            margin-bottom: 10px;
            display: block;
        }
        input{
            background: #F0F0F0;
            border-radius: 3px;
            outline:none;
            border: 1px solid transparent;
            height: 1.5em;
            padding: 5px 10px;

            font-weight: bold;
            font-size: 13.2px;
            letter-spacing: 0.5px;


            &[type="cardNumber"]{
                width: 18%;
                text-align: center;
                text-align: -webkit-center;
            }

            &::-webkit-input-placeholder{
                color: #959595;
            }
                
                &:hover, &:focus{
                    border: 1px solid #959595;
                }
                .numberInput:hover{
                    border: 1px solid #959595;
                }
        }



        #name{
            text-transform: uppercase;
            width: 95%;
        }
        .pointer{
                color: #959595;
            }
        select{
            background: #F0F0F0;
            border-radius: 3px;
            outline:none;
            border: 0;
            height: 1em;
            padding: 5px 18px;
            height: 2em;
            font-weight: bold;
            border: 1px solid transparent;

                &:hover{
                    cursor: pointer;
                }

            #day{
                width: 73px; 
            }
            
            #year{
                width: 88px;
            }

            
        }
        
        #cvc{
            width: 29px;
            padding: 11px 16px;
        }
        
        #btn{
            width: 133px;
            height: 40px;
            border-radius: 20px;
            background-color: #005abf;
            margin-top: 50px;

                &:hover{
                    background: #087ecf;
                }

                &:active{
                    background: #005C9C;
                }
        }
        
    }
}

@media only screen and (max-width : 999px) {
  .conteiner {
    flex-direction: column;
    .boxLeft {
        width: 100%;
        .menu{
            &__item{
                padding: 1% 3%;
            }
        }
    }
    .boxRight{
        width: inherit;
    }
  }
}

@media only screen and (max-width : 719px){
  .conteiner .boxRight {
        padding: 20px 2px;
        input[type="cardNumber"] {
            width: 20%;
        }
        input {
            padding: 5px 1px;
        }
    } 
}